body{
    background-color: #eee;
    font-size: 18px;
    color: #999;
}

article{
    width: 1000px;
    margin: 50px auto 0;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

article>h3{
    font-size: 33px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    color: rgb(211, 53, 87);
}
#appoint{
    margin-bottom: 20px;
    border: 1px solid #005291;
    border-bottom: none;
}
#appoint>h4{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 25px;
    background-color: #005291;
    color: #fff;
    cursor: pointer;
}

#appoint>ul{
    padding: 0 20px;
    margin-bottom: 25px;
}
#appoint>ul>li{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
#appoint>ul>li>label{
    width: 15%;
    color: #005291;
    font-size: 18px;
    font-weight: bold;
}
#appoint>ul>li>input, #appoint>ul>li>textarea{
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px;
}
#appoint>p>button{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px 0;
    background-color: #005291;
    color: #fff;
}

#search{
    margin-bottom: 20px;
    border: 1px solid #005291;
    
}
#search>div{
    display: block;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
#search>div>input{
    border: none;
    line-height: 25px;
    width: 80%;
    text-indent: 20px;
    
}
#search>div>button{
    position: absolute;
    right: 0; top: 0;
    border: none;
    background-color: #005291;
    width: 15%; 
    color: #fff;
    height: 100%;
    font-size: 22px;
}
#search>div>ul{
    position: absolute;
    right: 0; top: 50px;
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #005291;
    z-index: 100;
}
#search>div>ul>li{
    padding: 10px;
    border-bottom: 1px solid #005291;
}
#search>div>ul>li:last-child{
    border-bottom: none;
}
#list{
    padding: 0 20px;

}
#list ul{
    
}
#list ul>li{
    border-bottom: 1px solid #005291;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0;
    justify-content: space-between;
}
#list ul>li:last-child{
    border-bottom: none;
}
#list ul>li>dl{
    width: 80%;
    position: relative;
}
#list ul>li>dl>dt{
    font-size: 23px;
    color: #005291;
    margin-bottom: 10px;
    font-weight: bold;
}
#list ul>li>dl>dd.owner{
    font-size: 22px;
    color: rgb(45, 19, 236);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#list ul>li>dl>dd.desc{
    font-size: 20px;
    color: #333;
}
#list ul>li>dl>dd.date{
    font-size: 20px;
    color: #666;
}
#list ul>li>dl>dd>dfn{
    font-size: 19px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #005291;
}
#list ul>li>dl>dd.date{
    position: absolute;
    right: 0; top: 0;
}

#list ul>li>p>button{
    width: 50px; height: 50px;
   background-color: rgb(217, 22, 22);
   color: #fff;
   border: none;
   font-size: 25px;
}
